.mainlogo-small-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 164px;
    height: 174px;
    object-fit: cover;
}
.div {
    position: absolute;
    top: 80px;
    left: calc(50% - 559px);
}
.b {
    position: absolute;
    top: 80px;
    left: calc(50% - 78px);
}
.div1 {
    position: absolute;
    top: 80px;
    left: calc(50% + 447px);
}
.middle-component-icon {
    position: absolute;
    top: calc(50% - 502.5px);
    left: calc(50% - 421px);
    width: 843px;
    height: 1048px;
    object-fit: cover;
    opacity: 0.21;
}
.b1 {
    position: absolute;
    top: 341px;
    left: 193px;
    display: inline-block;
    width: 209px;
    height: 64px;
}
.div2 {
    position: absolute;
    top: 454px;
    left: 193px;
    display: inline-block;
    width: 214px;
    height: 64px;
}
.div3 {
    position: absolute;
    top: 566px;
    left: 190px;
    font-weight: 300;
    display: inline-block;
    width: 215px;
    height: 64px;
}
.div4 {
    position: absolute;
    top: 679px;
    left: 187px;
    font-weight: 300;
    display: inline-block;
    width: 69px;
    height: 64px;
}
.gamerecordhtml-child {
    position: absolute;
    top: 311.87px;
    left: 529px;
    border-right: 4px solid var(--color-white);
    box-sizing: border-box;
    width: 4px;
    height: 677.1px;
}
.icon {
    position: absolute;
    top: 300px;
    left: 589px;
    width: 1381px;
    height: 330px;
    object-fit: cover;
}
.icon1 {
    position: absolute;
    top: 672px;
    left: 589px;
    width: 1381px;
    height: 330px;
    object-fit: cover;
}
.gamerecordhtml {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 1727px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-18xl);
    color: var(--color-white);
    font-family: var(--font-inter);
}

